@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('./fonts/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareRoundL.woff') format('woff'),
    url('./fonts/NanumSquareRoundL.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundL.svg#NanumSquareRoundL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('./fonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareRoundB.woff') format('woff'),
    url('./fonts/NanumSquareRoundB.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundB.svg#NanumSquareRoundB') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '210 Yeonpilsketch R';
  src: url('./fonts/210 Yeonpilsketch Regular.eot');
  src: url('./fonts/210 Yeonpilsketch Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/210 Yeonpilsketch Regular.woff2') format('woff2'),
    url('./fonts/210 Yeonpilsketch Regular.woff') format('woff'),
    url('./fonts/210 Yeonpilsketch Regular.svg#210 Yeonpilsketch Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
