@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('./fonts/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareRoundL.woff') format('woff'),
    url('./fonts/NanumSquareRoundL.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundL.svg#NanumSquareRoundL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('./fonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
    url('./fonts/NanumSquareRoundB.woff') format('woff'),
    url('./fonts/NanumSquareRoundB.ttf') format('truetype'),
    url('./fonts/NanumSquareRoundB.svg#NanumSquareRoundB') format('svg');
  font-weight: normal;
  font-style: normal;
}
